// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$main-heading: 'Bebas Neue', cursive;
$sub-heading: 'Roboto', sans-serif;
$header-font: 'Bebas Neue', cursive;
$body-font: 'Roboto', sans-serif;

$thm-blue: #6494AA;
$thm-red: #A63D40;
$thm-light: #EBFFF8;
$thm-dark: #262626;
$thm-grey: #2E3C42;

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;
  margin: 0;
  font-family: $body-font;
  font-weight: normal;
  color: $thm-dark;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

header {
  background-color: $thm-dark;
  position: sticky;
  top: 0;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100vw;
  max-height: 15vh;
  
  h1 button{
    border-style: none;
    font-family: $main-heading;
    background-color: $thm-dark;
    // font-weight: 700;
    font-size: 16vw;
    // margin: 0.5em 0 0.25em 0;
    margin: 0;
    padding: 0;
    color: $thm-light;
  }
}

.container {
  width: auto;
  background-color: $thm-grey;
  align-items: stretch;
  flex-grow: 1;
  padding: 0.5em;
  color: $thm-light;
}
  

nav {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  background-color: $thm-dark;
  ul {
    list-style-type: none;
    color: $thm-light;
    font-weight: 200;
    display: flex;
    margin: 0;
    padding: 0;
  }
  li {
    display: flex;
    flex-grow: 1;
    margin: 0;
  }
  button {
    margin-right: 0;
    background-color: $thm-dark;
    color: $thm-light;
    flex-grow: 1;

    font-family: $header-font;
    font-size: 7vw;
    text-transform: uppercase;

    // border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-color: $thm-light;
    padding: 10px 0px;
    margin: 0px 0px 10px 0px;
  }
}

// Forms
form {

  select {
    font-family:inherit;
    font-size: inherit;
    padding: 5px 10px;
    margin: 5px 0px;
    border: 2px solid #eee;
    border-radius:5px;
    width: 100%;
  }
  
  input {
    font-family:inherit;
    font-size: inherit;
    padding: 5px 10px;
    margin: 5px 0px;
    border: 2px solid #eee;
    border-radius:5px;
    width: 100%;
  }

  .radio-group {
    display: flex;
    margin: 5px 0px;
    padding: 5px 10px;
  }

  input[type=radio] {
    width: auto;
    flex-grow: 1;
  }
  select .radio-label {
    width: auto;
    flex-grow: 1;
  }
  
  button {
    font-family:inherit;
    font-size: inherit;
    padding: 5px 10px;
    margin: 5px 0px;
    border: 2px solid #eee;
    border-radius:5px;
    width: 100%;
  }
}
  
// Card tricks
.card {
  border-radius: 5px;
  border-style: solid;
  border-color: $thm-red;
  margin: 5px 0px;
  padding: 10px 10px 10px 0px;
  display: flex;

  a {
    flex-grow: 1;
  }

  img {
    width: 50px;
    margin: 0 10px 0 0;
  }
  
  h3 {
    font-size: 1em;
    margin: 0;
    padding: 0;
    flex-grow: 3;
  }
  .card-details {
    flex-grow: 1;
    div{
      width: fit-content;
      height: fit-content;
      margin: 10px;
    }
  }
}

.card-title a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
}

.card-title a:visited {
  color: inherit;
}
